.fn-view {
    position: relative;
    .fn-view-canvas {
        position: absolute;
        right: 7px;
        bottom: 0;
    }
    .fn-item {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 380px;
        display: block;
        overflow-x: hidden;
    }
}