@import '~@assets/styles/variables.scss';

.we-editor{
	height: 100%;
	width: 100%;

	.monaco-editor.vs {
		.overflow-guard {
			.monaco-scrollable-element {
				.token {
					&.log-error {
						color: red;
						font-weight: bold;
					}
					&.log-warn {
						color: yellow;
					}
					&.log-info {
						color: blue;
					}
					&.log-date {
						color: green;
					}
				}
			}
		}
	}

	a {
		color: #646465 !important;
	}
	.glyphMarginClass {
		background: #ff9900;
	}
	.contentClass {
		background: #fad8a483;
	}
	.inlineDecoration {
		position: relative;
		color: #ff9900 !important;
		cursor: pointer;
		font-style: oblique;
		// 波浪线
		&::after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 5%;
			width: 90%;
			height: 2px;
			background: -webkit-linear-gradient(315deg, transparent, transparent 45%, #ed4014, transparent 55%, transparent 100%),-webkit-linear-gradient(45deg, transparent, transparent 45%, #ed4014, transparent 55%, transparent 100%);
			background-size: 4px 4px;
			background-repeat: repeat-x;
		}
	}
	.highRiskGrammar {
		color: red;
	}
}
