.setting {
    display: flex;
    flex-direction: row;
    .setting-menu {
        overflow-y: auto;
    }
    .setting-content {
        margin-left: 20px;
        width: 100%;
        .setting-content-header {
            text-align: right;
            margin-right: 10px;
            margin-bottom: 10px;
            .setting-content-btn {
                padding: 5px 40px;
            }
        }
        .setting-content-variable {
            overflow-y: auto;
        }
    }
}