@import '../../../assets/styles/variables.scss';
.we-directory {
    .we-directory-input {
        .ivu-input[disabled], fieldset[disabled] .ivu-input {
            color: #333;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .we-directory-tree {
        height: 120px;
        border: 1px solid $border-color-base;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        background: #fefefe;
        box-shadow: 0px 2px 2px #dedede inset;
        overflow: auto;
    }
    .is-hide {
        display: none;
    }
}