@import '../../../assets/styles/variables.scss';

.resource {
    position: $relative;
    .resource-refresh {
        position: $absolute;
        right: 10px;
        top: 4px;
    }
    .ivu-table th {
        background-color: $table-thead-blue-bg;
        color: $body-background;
    }
    .resource-loading {
        width: 100%;
        position: $absolute;
        z-index: $zindex-modal;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        background-color: hsla(0, 0%, 100%, .8);
        .resource-loading-icon {
            animation: ani-demo-spin 1s linear infinite;
        }
    }
}
