@import 'variables.scss';
.we-side-bar {
    height: 100%;
    overflow: hidden;
    padding-top: 38px;
    .we-side-bar-content {
        height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 6px;
            height: 1px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $border-radius-base;
            box-shadow: $shadow-inset;
            background: $subsidiary-color;
        }
        &::-webkit-scrollbar-track {
            border-radius: $border-radius-base;
            box-shadow: $shadow-inset;
            background: $body-background;
        }
    }
}