.delete-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .delete-modal-header {
        color:#f60;
        text-align:center;
    }

    .delete-modal-content {
        text-align:center;

        .delete-modal-content-name {
            color: #409EFF;
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .ivu-modal {
        top: 0
    }
}