@import '../../../assets/styles/variables.scss';
.progress-wrap {
    position: $relative;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
    background: $background-color-base;
    border-radius: 10px;
    .progress-busy {
        background: $success-color;
        height: 100%;
        border-radius: 10px;
        position: $absolute;
        z-index: 0;
    }
    .progress-label {
        width: 100%;
        z-index: 1;
    }
}
.global-history {
    position: $relative;
    height: 100%;
    .ivu-form {
        display: flex;
        .ivu-form-item {
            margin-bottom: 10px;
            .ivu-form-item-content {
                display: flex !important;
            }
        }
    }
    .global-history-table {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        .ivu-table th {
            background-color: $table-thead-blue-bg;
            color: $body-background;
        }
    }
    .global-history-loading {
        width: 100%;
        position: $absolute;
        z-index: $zindex-modal;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: ani-demo-spin 1s linear infinite;
    }
    .divider {
        margin-top: 7px;
        height: 20px;
    }
    .global-history-page {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    .log-editor-wrap {
        border: $border-width-base $border-style-base $border-color-base;
        box-shadow: $shadow-card;
        position: $absolute;
        left: 0;
        right: 0;
        top: 40px;
        bottom: 10px;

        .log-tools {
            height: 36px;
            line-height: 36px;
            padding-left: 10px;
            background: $background-color-base;
            position: $relative;
            border-bottom: 2px solid $border-color-base;
            overflow: hidden;
            margin-bottom: -2px;
            .log-tools-control {
                display: inline-block;
                position: $absolute;
                top: 2px;
                .log-tabs {
                    display: inline-block;
                    position: $absolute;
                }
                .log-search {
                    width: 100px;
                    position: $absolute;
                    left: 350px;
                    top: 5px;
                    font-size: $font-size-small;
                }
                .err-badge {
                    background: $error-color !important;
                }
                .warn-badge {
                    background: $yellow-color !important;
                }
            }
        }
    }
}
